html,body
{
    background-color: rgb(248,249,252);

}
.container-fluid
{
    background-color: rgb(248,249,252);

}
.navHeader
{
    background-color: rgb(255,255,255);
}
#Truly
{
    color: rgb(52,132,240);
    letter-spacing: 2px;
    word-spacing: 2px;
}
#will
{
    color: rgb(49,80,117);
    letter-spacing: 2px;
}
#Truly , #will
{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
.d-flex #Dashboard
{
    color: rgb(54,60, 65);
    /* text-decoration: solid; */
    /* font-family: 'Roboto', sans-serif; */
    font-size: 20px;
    margin-top: 5px;
    margin-left: 70px;
    font-weight:500;
    
}
#navOptions div:nth-child(1)
{
    color: rgb(52,132,240);
    font-weight: bold;
}
#navOptions div:nth-child(4)
{
    border-radius: 50%;
   background-color: rgb(233,238,241);
   text-align: center;
   font-weight:500;
   padding: 5px;
}
#navOptions div:nth-child(5) span
{
    font-weight: bolder;
    font-size: 30px;
}
.content
{
    width: 65%;
}
.welcome
{
    background-image: linear-gradient(to right, rgb(56,63,69) , rgb(84,109,134));
    padding: 25px;
    color: white;
    font-size: 2em;
    border-radius: 10px;
    font-weight: 500;
    letter-spacing: 2px;
}
.menu
{
    background-color: white;
    margin-top: 5%;
    border-radius: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
}
.menu .hr
{
    border-left:5px solid rgb(134,161,80);
    position: absolute;
    height:40%;
    width: 2%;
    margin-right: 1%;
    margin-left: 0%;
    
}
.formMenu
{
    margin-top: 2%;
    margin-left: 5%;
}
#getHover
{
    background-color: rgb(134,161,80);
    border-radius: 5px;

}
#getHover div , #getHover div span
{
    color: white;
   
}
.completedIcon
{
    color: rgb(134,161,80);
}
.pen
{
    color: rgb(52,132,240);
}
.formMenu .d-flex div:nth-child(2)
{
    color: rgb(134,161,80);
    font-weight: 500;
}

.completed
{
    font-size: small;
}
.formdisplay button
{
    background-color: rgb(52,132,240);
    color: azure;
    font-size: 12px;
    font-weight:500;
}
.formdisplay .d-flex div:nth-child(2)
{
    font-weight:400;
    font-size: larger;
    font-weight: 500;
}
.formdisplay .d-flex div:nth-child(2) p
{
    /* font-weight:400; */
    color: rgb(89,117,145);
    margin-top: 10px;
    font-size: small;
}
.formdisplay button span
{
    font-size: 12px;
}
.formdisplay div:nth-child(1)
{
    font-size: 36px;
}
.nocompletedIcon
{
    color: rgb(89,117,145);
}
.d-flex .nocompletedIcon
{
    color: rgb(89,117,145);

}
.formMenu div:nth-child(4) .notextcompletedIcon,.formMenu div:nth-child(5) .notextcompletedIcon
{
    color: rgb(89,117,145);
}
